<p>98</p>
<% 5.times do |i| %>
	<div class="col">
		<% @movies_0.each do |movie| %>
			<div class="product_unite">
				<a href=""><%= image_tag(movie.placard_url) %></a>
				<ul class="">
					<li><strong>评分</strong></li>
					<% movie.rates.each do |rate| %>
					<li><%= rate.site %>（<%= rate.rating %>）</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
<% end %>

<h1>Listing movies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Director</th>
    <th>Actor</th>
    <th>Release date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies_0.each do |movie| %>
  <tr>
    <td><%= movie.name %></td>
    <td><%= movie.director %></td>
    <td><%= movie.actor %></td>
    <td><%= movie.release_date %></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Movie', new_movie_path %>
<br />