<%= form_for(@rate) do |f| %>
  <% if @rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% @rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  	<div class="field">
	选择：<%= render_rate_movie_select_tag(@rate) %>
	</div>
   
  <div class="field">
	选择：<%= f.select(:site, { "MTime" => "MTime", "豆瓣" => "豆瓣", "M1905" => "M1905"}) %>
  </div>
  

  <div class="field">
    <%= f.label :out_num %><br />
    <%= f.text_field :out_num %>
  </div>
  <div class="field">
    <%= f.label :from_url %><br />
    <%= f.text_field :from_url %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
